{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Оставить фидбек" %}{% endblock %}


{% block content %}

  <div class=" mt-md-4">

    <h1 class="fw-bold mb-2">{% trans "Оставить фидбек" %}</h1>
    <p class="text-white-50 mb-5">{% trans "Напишите всё, что хотите нам сказать" %}</p>

    {% if messages %}
      {% for message in messages %}
        <p class="form-status text-success">
          {{ message | safe }}
        </p>
      {% endfor %}
    {% endif %}

    {% trans "Отправить" as btn_text %}
    {% include "includes/form.html" with form=form btn_text=btn_text %}

  </div>
{% endblock %}