{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}


{% block title %}{% trans "Мой профиль" %}{% endblock %}

{% block content %}


<h1>{% trans "Мой профиль" %}
  {% if identity_confirmed %}
      <img src="{% static 'img/identity-confirmed-badge-50.jpg' %}" class="img-fluid">
  {% endif %}
</h1>
<div class="container pt-4">
  <div class="row">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in user_form %}
        <div class="form-outline form-white mb-4">
          {{ field }}
        </div>
      {% endfor %}
      <a href="{% url 'users:password_change' %}" type="button" class="btn btn-outline-dark me-2">{% trans "Изменить пароль" %}</a>
      <button type="submit" class="btn btn-outline-dark me-2">{% trans "Сохранить изменения" %}</button>
    </form>
  </div>
</div>

{% endblock %}
