{% load static %}

{% for error in form.non_field_errors %}
  {{ error|escape }}
{% endfor %}

<form action="" method="POST">
  {% csrf_token %}

  {% for field in form %}
    <div class="form-outline form-white mb-4">
      {{ field.error }}
      {{ field }}
    </div>
    {% if field.help_text %}
      <div class="form-help-text">
        <small id="{{ field.id_for_label }}-help">
          {{ field.help_text|safe }}
        </small>
      </div>
    {% endif %}
  {% endfor %}
  <button class="btn btn-outline-light btn-lg px-5 mb-5" type="submit">{{ btn_text }}</button>

</form>
