{% load static %}
{% load thumbnail %}
{% load i18n %}


<div class="col-sm-4">
  <div class="card mb-3">
    <div class="card-body">
      {% thumbnail dish.image_main "500x500" padding=True as image %}
        <img src="{{ image.url }}" class="img-fluid">
      {% endthumbnail %}
      <h5 class="card-title">{{ dish.name }}</h5>
      <p class="card-text">Сложность {{ dish.complexity }}/5</p>
      <p class="card-text">Время готовки {{ dish.cooking_time }}</p>
      <p class="card-text">Автор {{ dish.author.username }}</p>
      <a href="{{ dish.get_absolute_url }}" class="btn btn-primary">{% trans "Готовить!" %}</a>
    </div>
  </div>
</div>