{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Поиск блюда" %}{% endblock %}


{% block content %}
<head> {{ new_dish_form.media }} </head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<div class="container pt-4">
  <div class="row">
    <h1>{% trans "Выберите все продукты из вашего холодильника" %}</h1>
    {% trans "Найти блюдо" as btn_text %}
    {% include "includes/form.html" with form=dishes_search_form btn_text=btn_text %}

    {% if message %}
      <h1>{{ message }}</h1>
    {% endif %}

    {% if dishes_dict %}
      <h2>{% trans "Вот что мы подобрали для вас" %}</h2>
      {% for dish, ingredients_to_buy in dishes_dict.items %}
        {% include "includes/dish_search_card.html"  with dish=dish ingredients_to_buy=ingredients_to_buy %}  
      {% endfor %}
    {% endif %}
    
  </div>
</div>
{% endblock %}
