{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load custom_formats %}


{% block title %}{{ dish.name }}{% endblock %}

{% block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-5">
      <img src="{{ dish.image_main.url }}" alt="Картинка блюда" class="img-fluid">
    </div>
  
    <div class="col-md-7">
      <h1 class="mb-3"> {{ dish.name }}</h1>
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-hour-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
          <path d="M12 12l3 2"></path>
          <path d="M12 7v5"></path>
        </svg>
        {{ dish.cooking_time|duration_time_format }} 
      </p>
      <div class="mb-4">
        <h3>{% trans "Ингредиенты:" %}</h3>
        <ul>
          {% for ingredient in dish.ingredients.all %}
            <li class="mb-0">{{ ingredient.ingredient.name }} — {{ ingredient|ingredient_quantity_format }}</li>
          {% endfor %}
        </ul>
      </div>


    </div>

    <div class="col-md-8 col-lg-7 mt-4">
      <div>
        <h2>{% trans "Рецепт" %} </h2>
        <p>{{ dish.recipe|safe }}</p>
      </div>

      <div>
        <p>
          {% for tag in dish.tags.all %}
            <a class="btn btn-info">{{ tag }}</a>
          {% endfor %}
        </p>
        <p><a class="btn btn-info">{{ dish.type }}</a></p>
      </div>
      <p class="mb-5">{% trans "Автор" %} <a href="">{{ dish.author.username }}</a>
        {% if dish.author.identity_confirmed %}
          <img src="{% static 'img/identity-confirmed-badge-25.jpg' %}" class="img-fluid">
        {% endif %} 
        | {{ dish.date_created }}
      </p>
    </div>
  </div>
</div>

{% endblock %}
