{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Поиск блюда" %}{% endblock %}


{% block content %}
<head> {{ new_dish_form.media }} </head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<div class="container pt-4">
  <div class="row">

    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}

      <div class="form-outline form-white mb-4">
        <h1>{% trans "Выберите что есть у вас в холодильнике" %}</h1>

        {{ dishes_search_formset.management_form }}
        <div class="table row">
          {% for form in dishes_search_formset.forms %}
                {% for field in form %}
                  <div class='col-md-4'>
                    {{ field }}
                  </div>
                {% endfor %}
          {% endfor %}
        </div>

        <input type="button" value="Добавить ингредиент" id="add_more" class="btn btn-outline-dark me-2">
      </div>

      <button class="btn btn-primary px-5 mb-5" type="submit">{% trans "Найти блюдо" %}</button>

      <h1>Вы выбрали</h1>
      {% if ingredients_list %}
        {% for ingredient in ingredients_list %}
          <p>{{ ingredient }}</p>
        {% endfor %}
      {% endif %}

    </form>
  </div>
</div>
<script>
    $('#add_more').click(function() {
              cloneMore('div.table:last', 'ingredients');
          });

    function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_form' + '-TOTAL_FORMS').val();
    console.log(total);
    newElement.find(':input').each(function() {

        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        console.log(name);
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_form' + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
}
</script>
{% endblock %}
