{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load custom_formats %}


{% block title %}{{ dish.name }}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h1 class="mb-4"> {{ dish.name }}</h1>
      {% thumbnail dish.image_main "500" padding=True as image %}
        <img src="{{ image.url }}" class="img-fluid">
      {% endthumbnail %}
      <p>Тип: {{ dish.type.name }} | Время готовки {{ dish.cooking_time|duration_time_format }} | Сложность: {{ dish.complexity }}/5 </p>
      <div>
        <strong>Тэги:</strong>
        <p>
          {% for tag in dish.tags.all %}
            <a class="p-1 bg-info">{{ tag }}</a>
          {% endfor %}
        </p>
      </div>
      <div class="mb-4">
        <strong>Ингредиенты: </strong>
        {% for ingredient in dish.ingredients.all %}
          <p class="mb-0">{{ ingredient.ingredient.name }} - {{ ingredient|ingredient_quantity_format }}</p>
        {% endfor %}
      </div>

      <div>
        <strong>Рецепт: </strong>
        <p>{{ dish.recipe|safe }}</p>
      </div>

      <p>От <a href="">{{ dish.author.username }}</a> | {{ dish.date_created }}</p>
    </div>
  </div>


</div>

{% endblock %}
