{% extends 'base_head.html' %}

{% load static %}

{% block body %}

<section class="gradient-custom min-vh-100">
  <div class="container py-4">
    <a href="{% url 'home:home' %}" class="d-flex justify-content-center text-white text-decoration-none pb-3">
      <img src="{% static 'img/logo-light.svg' %}" width="200">
    </a>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body %}